
// footer.scss
 
.footer {
    color: rgba($footer-color, 0.4);
    padding: 80px 0px 30px;
    background-color: $footer-bg;
    
    @media (max-width: 991px) {
        padding: 60px 0px 25px;
    }
    
    @media (max-width: 767px) {
        padding: 50px 0px 20px;
    }
    
    @media (max-width: 575px) {
        padding: 40px 0px 15px;
    }
    .footer-list {
        li {
            a {
                color: rgba($footer-color, 0.4);
                padding-bottom: 10px;
                display: inline-block;
            }
            &:hover {
                a {
                    color: $footer-color;
                }
            }
        }
    }
    .footer-social {
        li {
            a {
                color: rgba($footer-color, 0.4);
                margin-right: 0;
            }
            &:hover {
                a {
                    color: $footer-color;
                }
            }
        }
    }
}

.footer-alt {
    border-top: 1px solid rgba($footer-color, 0.08);
    padding: 20px 0px;
    color: rgba($footer-color, 0.4);
    background-color: $footer-bg;
    
    @media (max-width: 767px) {
        padding: 15px 0px;
        
        p {
            font-size: 14px;
            text-align: center !important;
        }
    }
    
    @media (max-width: 575px) {
        padding: 12px 0px;
        
        p {
            font-size: 13px;
        }
    }
    li {
        a {
            color: $info;
            margin-right: 0;
        }
        &:hover {
            a {
                color: $footer-color;
            }
        }
    }  
}

.bg-footer{
    color: $footer-bg;
}
.text-footer{
    color: $footer-color;
}